@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Miniver&display=swap');

/* GLOBAL */
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #05190f;
    /* dark green */
    color: white;
    min-height: 100vh;
}

/* HEADER */
header {
    background: rgba(59, 20, 28, 0.95);
    padding: 15px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.logo {
    font-size: 28px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu a {
    color: white;
    padding: 10px 18px;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.3s ease;
}

.menu a.active,
.menu a:hover {
    background: #f3961c;
    color: #3b141c;
}

/* MENU SECTION */
.menu-section {
    padding: 150px 40px 60px;
    max-width: 1200px;
    margin: auto;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.product {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    text-align: center;
    width: 45%;
    /* 2 per row */
    padding: 20px;
    transition: transform 0.3s, background 0.3s;
}

.product:hover {
    transform: translateY(-5px);
    background: rgba(243, 150, 28, 0.2);
}

.product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.product h3 {
    font-family: 'Miniver', cursive;
    font-size: 28px;
    color: #f3961c;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

/* CONTACT BUTTON */
.menu-button {
    text-align: center;
    margin-top: 40px;
}

.menu-button .btn {
    background: #f3961c;
    color: #3b141c;
    padding: 12px 28px;
    border-radius: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.menu-button .btn:hover {
    background: transparent;
    border: 2px solid #f3961c;
    color: #f3961c;
}