/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Miniver&display=swap');

/* GLOBAL */
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #3b141c;
    color: white;
}

/* NAVBAR */

header {
    background: rgba(59, 20, 28, 0.95);
    padding: 15px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.logo {
    font-size: 28px;
}

/* MENU */
.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu a {
    color: white;
    padding: 10px 18px;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.3s ease;
    white-space: nowrap;
}

.menu a:hover {
    background: #f3961c;
    color: #3b141c;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* Reduced spacing */
    padding: 150px 40px 40px;
    min-height: 100vh;
}

.hero-text {
    max-width: 450px;
    margin-left: 40px;
    text-align: left;
}

/* TITLE FONT = MINIVER */
.title {
    font-family: 'Miniver', cursive;
    color: #f3961c;
    font-size: 55px;
}

.subtitle {
    font-size: 28px;
    max-width: 400px;
}

.desc {
    margin: 20px 0;
    max-width: 400px;
    font-size: 18px;

}

/* BUTTONS */
.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    background: #f3961c;
    padding: 10px 22px;
    border-radius: 20px;
    color: #3b141c;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    border: none;
}

.btn:hover {
    background: white;
    color: #3b141c;
}

/* IMAGE */
.hero-img img {
    width: 350px;
    /* final size */
    border-radius: 18px;
    /* smooth edges */
    display: block;
    border: none;
    /* no visible border */
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.55);
    /* soft blending glow */
}